
.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}


body{

background: rgb(238, 102, 72);
overflow: hidden;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 100px 280px 200px 280px;
}

.fuente{
color: white;
text-align:center;
margin-top: 30px;
font-family: fantasy;
}
