
.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}


body{

background: #e64e4e;
overflow: hidden;
}

.modal-dialog {
  position: relative;
  width: 60%;
}

.fuente{
color: white;
text-align:center;
margin-top: 40px;
font-family: fantasy;
}

.dropzone {
  min-height: 150px;
  border-style: dashed;
  border-color: rgb(222, 129, 90);;
  background: white;
  width: 100%;
   }
.container{
  width: 100%;
}
